<!-- <p>angular-directive works!</p>
<li>
    <a routerLink="ngforstrcturaldirectives">strcturaldirectives</a>
</li> -->
<!-- 
<ul>

    <li><a routerLink="ngforstrcturaldirectives">angular-directive</a></li>
  
  </ul> -->


  <ul class="nav navbar-nav" >
    <li><a [routerLink]="['ngforstrcturaldirectives']">ngforstrcturaldirectives </a></li>
    <li><a routerLink="ng-switchcase">ng-switchcase</a></li>
    <li><a [routerLink]="['ngifstrutral']">ngifstrutral </a></li>
</ul>

<ul class="nav navbar-nav">
  <li><a [routerLink]="['ngclassdirectives']">ngclassdirectives </a></li>
  <li><a routerLink="ngstyledirectives">ngstyledirectives</a></li>
  <li><a [routerLink]="['trackngfor']">trackngfor </a></li>
</ul>


<button appHostlister>Click To Toggle</button>
 
<router-outlet></router-outlet>
<!-- <app-ngforstrcturaldirectives></app-ngforstrcturaldirectives> -->