<p>We attach the ngIf directive to a DOM element ( p element in the above example). Since ngIf is a structural directive, we can add it to any element like div, p, , component selector, etc. Like all structural directives, it is prefixed with * an asterisk.

    We bind the *ngIf to an expression (a condition in the above example). The expression is then evaluated by the ngIf directive. The expression must return either true or false.
    
    If the ngIf expression evaluates to false, then the Angular removes the entire element from the DOM. If true, it will insert the element into the DOM.</p>




     
    <p *ngIf="condition">
        content to render when the condition is true 
    </p>

<p>! true value set to change in false  logical not ! using</p>

    <p *ngIf="!condition">
        content to render when the condition is true 
    </p>

    <p [hidden]="condition">
        content to render, when the condition is true  hidden true in hidden not view
    </p>


    <p>else </p>
    <div *ngIf="condition; then thenBlock else elseBlock"> 
        This content is not shown
    </div>
     
    <ng-template #thenBlock>
        content to render when the condition is true.
    </ng-template>
     
    <ng-template #elseBlock>
        content to render when condition is false.
    </ng-template>