<div class="container">
    <div class="row">
        <li>
             <a routerLink="typedatabinding"> Data Binding</a>
        </li>
        <li>
            <a href="/childcomponet"> child component table loading</a>
        </li>
<li>
    <a routerLink="angular-directive">angular-directive</a>
</li>
<li>
    <a routerLink="pipeslist">pipeslist</a>
</li>
<li>
    <a routerLink="modelandinterface">modelandinterface</a>
</li>
<li>
    <a routerLink="lifecyclehooks">lifecyclehooks</a>
</li>

    </div>

</div>